/* css for background color */
body{
    background-color: pink;
}
/* css for header of user adding page */
header{
    padding:20px;
    background-color: black;
    color:white;
    font-size: large;
}
/* css for user adding form feilds */
input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    margin-left:60px;
}
/* css for adding form background */
.form{
    background-color: white;
    width:750px;
    height:700px;
    background-position: center;
    margin-left: 300px;
    text-Align:"center";
    display: block;
}
/* css for form heading */
h1{
    margin-left:50px;
}
/* css for form label */
label{
    margin-left:50px;
}
/* css for user adding form button */
input[type="button"]{
    border-radius: 8px;
    padding:8px;
    background-color: rgb(33, 175, 33);
    font-size:large;
    margin-left:500px;
}
/* css for back arrow */
button{
    background-color: black;
    margin-left:40px;
    color: white;
    border: none;
    font-size:large;
}
/* css for back arrow */
a{
    text-decoration:none;
    color:white;
}
input[type=submit]{
    border-radius: 8px;
    background-color: grey;
    padding:10px;
    margin-left: 50px;
}